<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="error-message">
            {% block content %}{% endblock %}
            <a href="{% url 'order:list' %}" class="action-link">Вернуться к заказам</a>
        </div>
    </div>
</body>
</html>
